html body {
  margin: 0;
  height: 100vh;
  background-color: #0e0e0e;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 390px;
  width: 100%;
}

Header {
  margin-top: 25px;
  background-color: rgb(4, 1, 1);
  height: 70px;
  color: azure;
  font-size: 20px;
  padding: 35px;
  font-weight: bold;
}

.Article {
  background-color: azure;
  color: black;
  flex-grow: 3;
  padding: 25px;
  font-weight: bold;
}

.Aside {
  background-color: rgba(60, 11, 112, 0.823);
  flex-grow: 1;
  padding: 25px;
  font-weight: bold;
  color: azure;
}

.Nav {
  background-color: rgb(221, 50, 144);
  color: azure;
  flex-grow: 1;
  padding: 25px;
  font-weight: bold;
}

.footer {
  height: 70px;
  font-size: 20px;
  padding: 25px;
  font-weight: bold;
  background-color: rgb(4, 1, 1);
  color: azure;
}
